.cell-container {
    margin-bottom: 20px;
  }
  
  .mini-post {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .mini-post:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }

  .mini-post {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  .mini-post header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .mini-post h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .mini-post time {
    font-size: 0.9rem;
    color: #666;
  }
  
  .descriptionContainer {
    margin: 20px;
  }

  .description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
  }
  
  .content {
    padding: 10px;
    border-top: 1px solid #ddd;
    background: #fafafa;
    white-space: pre-wrap; /* Ensures LaTeX content is readable */
  }
  